.btn {
    border: none;
    background: transparent;
}

.timer-controls, .play-pause {
    display: flex;
    gap: 10px;
    font-size: 30px;
    justify-content: center;
}

.undo {
    font-size: 30px;
}